# PostgreSQL connection (replace with your credentials)
# You can get a free database URL from Neon: https://neon.com
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# App URL for client-side use
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Resend API key for sending emails
# Get your API key from https://resend.com
# Important: You will only be able to use domains to send emails which are verified and linked to the API key
RESEND_API_KEY=